<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.BooksApp"
        android:allowBackup="true"
        android:icon="@mipmap/books_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/books_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BooksApp">
        <activity
            android:name="com.canerture.booksapp.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.canerture.booksapp.ui.login.LoginActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.canerture.booksapp.ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>